<template>
	<div class="row">
		<div class="col-xs-12 col-lg-6 middle">

			<div class="box">
				<h1 id="header-title"> אודות
					<img id="" src="./../../static/images/icon-4.png" class="img_title icon img-responsive "></h1>
			</div>

			<div id="sections-wrapper">
				<div id="section-1" class="section ">
					<div class="main" :style="mainStyle">
						<div class=" content" :style="contentStyle">
							<div class="row">
								<div class="col-xs-12">
									<p>
										לוח לימוד תורה לחיילים "לכו לחמו בלחמי", והלוח לבנות השירות הלאומי "בדרכיו כל
										הימים",
										יוצאים לאור מזה כ 15 שנה ומחולקים חינם לחיילים ולבנות השירות הלאומי.<br>
										הלוח נערך על ידי "מעמק חברון – מכון מחקר תורני", ושותפים למפעל הזה המדרשה לבנות
										"מדרשת
										שירת חברון" ו"ישיבת שבי חברון".<br>
										מחלקת "תודעה יהודית" ברבנות הצבאית בודקת את התכנים לחיילים ומאשרת אותם, ובשנים
										האחרונות
										אף מחלקת את הספרים דרך הרבנים הצבאיים לחיילים בשטח.<br>
										הלוח לבנות השירות מחולק על ידי המדרשה לבנות "שירת חברון".<br>
										מפעל גדול זה יוצא אל הפועל בזכות תרומתם הנדיבה של
										<strong> משפחת רפפורט</strong>, התומכת בו לאורך
										כל
										השנים.<br>
										השנה, תשע"ח, הוספנו למהדורה המודפסת גם אפליקציה, על מנת להנגיש עוד יותר את
										הלימוד
										לחיילים ולבנות השירות הלאומי.<br>
										תודה לכל הרבנים שמחיבוריהם לוקטו הקטעים בלוח זה, ולכל עוסקים במלאכה.<br>
										בראשונה להוגה הרעיון
										והדוחף למימושו – שמרון כהן, שגם חלק גדול מהקטעים המשובצים בלוח הם פרי
										ליקוטו.<br>
										ליעקב גור על
										עבודת הליקוט, העריכה וההגהה, ולמעצבת הגרפית ליאת חברוני – "מעוצב", על עבודת
										העימוד
										וההכנה לדפוס,<br>
										ולגרפיקאי בן גסנר על תרומתו לעיצוב העטיפה של לוח החיילים.<br>
										ואחרון חביב – תודה לעמי חניא ולכל צוות
										<a @click="closeApp" class="white">CloseApp</a>
										המסור על פיתוח האפליקציה.
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4">
									<img src="./../../static/images/shirat_hevron_logo.png" class="img-responsive"/>
								</div>

								<div class="col-xs-4">
									<img src="./../../static/images/shavei_hevron_logo.png" class="img-responsive"/>
								</div>

								<div class="col-xs-4">
									<img src="./../../static/images/mamak_hevron_logo.png" class="img-responsive"/>
								</div>
							</div>
							<br>

						</div>
						<div class="row back-button">
							<back-button/>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</template>

<script>
	import BackButton from "../components/BackButton.vue";
	import {trackEvent} from "../../app";

	export default {
		props: [],
		components: {
			BackButton,
		},
		data() {
			return {}
		},
		computed: {
			mainStyle() {
				return 'height:' + (screen.height - 65
					- document.getElementById("navbar").offsetHeight
					- document.getElementById("header-title").offsetHeight) + 'px';
			},
			contentStyle() {
				return 'height:' + (screen.height - 220
					- document.getElementById("navbar").offsetHeight
					- document.getElementById("header-title").offsetHeight) + 'px';
			},
		},
		methods: {
			closeApp() {
				window.open("https://closeApp.co.il", "_system");
			},
		},
		created() {
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	}
</script>

<style scoped>
	.box {
		height: 60px;
	}

	.content {
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.back-button {
		height: 50px;
	}


</style>