<template>
	<div>
		<div class="alert-box">
			<p>
				{{alert.body}}
			</p>
			<button class="button-back" @click="toLearnClicked"><span>חזור ללימוד היומי</span></button>
		</div>
	</div>
</template>

<script>
	export default {
		props: [],
		components: {},
		data() {
			return {
				alert: {
					body: null,
					title: null,
				}
			}
		},
		computed: {},
		methods: {
			toLearnClicked() {
				this.$router.push("/learn");
			}
		},
		created() {
			this.alert.body = localStorage.alertBody;
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	}
</script>

<style>
	.alert-box {
		background-color: purple;
		color: whitesmoke;
		margin: 30px;
		text-align: center;
		padding: 15px;
		border-radius: 15px;
		font-family: Arial;
	}

	.button-back {
		margin-top: 20px;
		color: black;
		border-radius: 5px;
	}
</style>