<template>
	<div class="row">
		<div class="col-xs-12  middle">

			<div class="box">
				<h1 id="header-title">
					שאל את הרב
					<img id="" src="./../../static/images/icon-5.png" class="img_title icon img-responsive ">
				</h1>
			</div>

			<div id="sections-wrapper">
				<div id="section-1" class="section ">
					<div class="main" :style="mainStyle">
						<div class="ask-div">
							<div v-if="gender==1">
								<p><b>חיילים:</b></p>
								<p>
									יש לך שאלה בהלכה?
									<br>
									התקשר לקו הפתוח, <br>במקרים דחופים גם בשעות הלילה: <br><a
										class="btn btn-default"
										href="tel:0529414414">052-9414-414</a>
								</p>
							</div>
							<div v-if="gender==0" style="padding-top: 30px">
								<p><b>בנות השירות הלאומי:</b></p>
								<p>קו טלפון לשאלות הלכתיות - <a class="btn btn-default"
								                                href="tel:0525665810">052-5665810</a></p>
								<p>ניתן לפנות לרב מישאל רובין בשאלות הלכתיות הקשורות לשירות הלאומי.</p>
								<p>ניתן להתקשר בימים א-ה בין השעות 22:00-21:00, או לשלוח הודעת sms בכל שעות היום.</p>
							</div>
						</div>

						<back-button/>

					</div>
				</div>
			</div>

		</div>
	</div>
</template>

<script>
	import ContactModule from "../../store/modules/Contact.module.js"
	import BackButton from "../components/BackButton.vue";

	export default {
		props: [],
		components: {
			BackButton,
		},
		data() {
			return {
				form: {
					title: "askRabbi",
					name: "",
					phone: "",
					mail: "",
					subject: "",
					text: ""
				},
				form_send: false
			}
		},
		computed: {
			mainStyle() {
				return 'height:' + (screen.height - 65
					- document.getElementById("navbar").offsetHeight
					- document.getElementById("header-title").offsetHeight) + 'px';
			},
			gender() {
				return this.$store.state.AuthModule.user.gender;
			}
		},
		methods: {
			onSubmit: function () {
				this.$store.dispatch(ContactModule.types.SEND, this.form).then(
					() => {
						this.form_send = true;
					},
					(error) => {
						swal(
							'',
							" הטופס לא נשלח, אנא נסה מאוחר יותר!",
							'error'
						)
					}
				);
			},
		},
		created() {
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	}
</script>

<style scoped>
	legend {
		color: #fff;
	}

	.box {
		height: 65px;
	}

	button {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 60%;
	}

	body {
		overflow: hidden;
	}

	.ask-div {
		text-align: center;
		background-color: purple;
		color: white;
		border-radius: 10px;
		border-color: black;
		padding: 20px;
		line-height: 2em;
	}

</style>