<template>
	<div class="row">
		<div class="col-xs-12  middle">
			<div class="row">

				<div class="box">
					<h1 id="header-title">
						צור קשר
						<img id="" src="./../../static/images/icon-1.png" class="img_title icon img-responsive ">
					</h1>
				</div>
			</div>
			<div class="row">
				<div id="sections-wrapper">
					<div id="section-1" class="section ">
						<div class="main" :style="mainStyle">
							<h4 v-if="!form_send" class="text-center" v-html="title"></h4>
							<div class="content" :style="contentStyle">

								<form v-on:submit.prevent="onSubmit"
								      role="form">
									<!--<legend class="text-center">צור קשר</legend>-->
									<div v-if="!form_send">

										<div class="form-group">
											<!--<label for="input_name">שם</label>-->
											<input type="text" class="form-control" name="name" v-model="form.name"
											       id="input_name"
											       placeholder="שם מלא" required>
										</div>
										<div class="form-group">
											<!--<label for="input_mail">דוא"ל</label>-->
											<input type="text" class="form-control" name="email" v-model="form.email"
											       id="input_mail"
											       placeholder="דוא'ל" required>
										</div>
										<div class="form-group">
											<!--<label for="input_phone">טלפון</label>-->
											<input type="tel" class="form-control" name="phone" v-model="form.phone"
											       id="input_phone"
											       placeholder="טלפון">
										</div>
										<div class="form-group">
											<!--<label for="input_subject">נושא</label>-->
											<input type="text" class="form-control" name="subject"
											       v-model="form.subject"
											       id="input_subject"
											       placeholder="נושא">
										</div>
										<div class="form-group">
											<!--<label for="input_content"> תוכן</label>-->
											<textarea type="text" class="form-control" name="content"
											          v-model="form.text"
											          id="input_content" style="resize: none;" placeholder="הזן תוכן..."
											          :rows="rows" cols="30"></textarea>
										</div>


									</div>
									<div v-if="!form_send">
										<button type="submit" class="btn btn-success">שלח</button>
									</div>

									<div class="toda center" v-if="form_send">
										<h2> תודה שפניתם אלינו! <br> ניצור עמכם קשר בהקדם. </h2>
									</div>

								</form>
							</div>

							<div class="row back-button">
								<back-button/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
	import ContactModule from "../../store/modules/Contact.module.js";
	import BackButton from "../components/BackButton.vue";

	export default {
		props: [],
		components: {
			BackButton,
		},
		data() {
			return {
				form: {
					title: "contact",
					name: "",
					phone: "",
					email: "",
					subject: "",
					text: "",
				},
				form_send: false,
			}
		},
		computed: {
			mainStyle() {
				return 'height:' + (screen.height - 65
					- document.getElementById("navbar").offsetHeight
					- document.getElementById("header-title").offsetHeight) + 'px';
			},
			contentStyle() {
				return 'height:' + (screen.height - 220
					- document.getElementById("navbar").offsetHeight
					- document.getElementById("header-title").offsetHeight) + 'px';
			},
			rows() {
				let sh = screen.height;
				if (sh >= 640) {
					return 4;
				}
				else if (sh >= 610) {
					return 4;
				}
				else if (sh >= 590) {
					return 4;
				}
				else {
					return 3;
				}
			},
			gender() {
				return this.$store.state.AuthModule.user.gender;
			},
			title() {
				if (this.gender == 0)
					return "מדרשת שירת חברון ישמחו לשמוע ממך!";
				return "מעמק חברון ישמחו לשמוע ממך!";
			}

		},
		methods: {
			onSubmit: function () {
				this.$store.dispatch(ContactModule.types.SEND, this.form).then(
					() => {
						this.form_send = true;
					},
					(error) => {
						swal(
							'',
							" הטופס לא נשלח, אנא נסה מאוחר יותר!",
							'error'
						)
					}
				);
			},
		},
		created() {
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	}
</script>

<style scoped>
	legend {
		color: #fff;
	}

	.box {
		height: 60px;
	}

	button {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 60%;
	}

	.content {
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.back-button {
		/*height: 50px;*/
	}


</style>