<template>
	<!--<div id="wrapper">-->


	<div class="row">
		<div class="row" @click="onClick('learn')">
			<div class="col-xs-12">
				<div class="box pad2em" :class="sizeBox">
					<h1 id="header-title">
						הלימוד היומי
					</h1>
					<date :dayInWeek="day_in_week"/>
					<img src="./../../static/images/icon-book.png" class="icon img-responsive middle">
				</div>
			</div>
		</div>

		<div id="sections-wrapper">
			<div id="section-1" class="section ">
				<div class="">
					<div class="row">
						<div class=" col-xs-6" v-if="!gender">
							<div class="box" :class="sizeBox" @click="updateUser(1)">
								<h1 id="male">
									לכו לחמו בלחמי
								</h1>
								<img src="./../../static/images/man.png" class="icon img-responsive middle">
							</div>
						</div>

						<div class="col-xs-6" v-if="!gender">
							<div class="box" :class="sizeBox" @click="updateUser(0)">
								<h1 id="female">
									בדרכיו כל הימים
								</h1>
								<img src="./../../static/images/woman.png" class="icon img-responsive middle">
							</div>
						</div>


						<div class="col-xs-6">
							<div class="box" :class="sizeBox" @click="onClick('times')">
								<h1 id="times" class="marginh1">
									זמני היום
								</h1>
								<img src="./../../static/images/icon-2.png" class="icon img-responsive middle">
							</div>
						</div>

						<div class="col-xs-6" v-if="gender">
							<div class="box" :class="sizeBox" @click="onClick('AskTheRabbi')">
								<h1 id="raby" class="marginh1">
									שאל את הרב
								</h1>
								<img src="./../../static/images/icon-5.png" class="icon img-responsive middle">
							</div>
						</div>

						<div class="col-xs-6">
							<div class="box" :class="sizeBox" @click="onClick('settings')">
								<h1 id="settings" class="marginh1">
									הגדרות
								</h1>
								<img src="./../../static/images/icon-3.png" class="icon img-responsive middle">
							</div>
						</div>


						<div class="col-xs-6" v-if="!gender">
							<div class="box" :class="sizeBox" @click="onClick('about')" v-if="!gender">
								<h1 id="about" class="marginh1">
									אודות
								</h1>
								<img src="./../../static/images/icon-4.png" class="icon img-responsive middle">
							</div>
						</div>

						<div class="col-xs-6">
							<div class="box" :class="sizeBox" @click="onClick('contact')">
								<h1 id="contact" class="marginh1">
									צור קשר
								</h1>
								<img src="./../../static/images/icon-1.png" class="icon img-responsive middle">
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


</template>

<script>
	import AuthModule from "../../store/modules/Auth.module";
	import HebCal from "hebcal";

	export default {
		props: [],
		components: {
			date: require("../components/Date.vue")
		},
		data() {
			return {
				heb_date: new HebCal.HDate().toString('h'),
				day_in_week: (new HebCal.HDate(this.heb_date).getDay() + 1) % 7,
			}
		},
		computed: {
			gender() {

				return this.$store.state.AuthModule.user.gender
			},
			sizeBox() {
				if (this.gender) {
					return "large-box";
				} else {
					return "medium-box";
				}
			}
		},
		methods: {
			onClick(page) {
				this.$router.push("/" + page);
			},
			updateUser(gender) {
				this.$store.dispatch(AuthModule.types.LOGIN, {id: localStorage.OS_id, gender}).then((response) => {
					console.log(response);
					localStorage.gender = gender;
					this.onClick("learn");
				});

			},
		},
		created() {
		},
		mounted() {

		},
		updated() {
		},
		destroyed() {
		}
	}
</script>

<style scoped>
	.medium-box {
		height: 20vh;
	}

	.large-box {
		height: 28vh;
	}

	.box {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.medium-box h1 {
		font-size: 1.3em;
	}

	.large-box h1 {
		font-size: 1.7em;
	}

	.row {
		margin-right: 5px;
		margin-left: 5px;
	}

	.marginh1 {
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	.pad2em {
		padding: 2em;
	}

	body {
		overflow: hidden;
	}

</style>