<template>
	<div class="row">
		<div class="col-xs-12 col-lg-6 middle">

			<div class="box" id="learn-header" @click="onTodayLearn">
				<h1 id="header-title"> לימוד יומי
					<img id="" src="./../../static/images/icon-book.png" class="img_title icon img-responsive ">
				</h1>
			</div>

			<div id="sections-wrapper">
				<div id="section-1" class="section ">
					<div class="main" :style=" ' height:' + mainHeight + 'px !important; '">

						<p class="date">
							<hebrew-date :heb-date="heb_date" :greg-date="date"/>
						</p>
						<reminder :date="date"/>
						<br>
						<article-comp v-for="text in texts" :key="text.id" :text="text"/>
					</div>
				</div>
			</div>

			<div class="row" id="learn-nav">
				<div class="col-xs-12 col-lg-6 middle">
					<div class="col-xs-4">
						<div @click="onPrev" class="box small-box">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</div>
					</div>
					<div class="col-xs-4">
						<div @click="onMenu" class="box small-box">תפריט</div>
					</div>
					<div class="col-xs-4">
						<div @click="onNext" class="box small-box">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>

<script>
	// import ContentModule from "../../store/modules/Content.module";
	import TextModule from "../../store/modules/Text.module"
	import BackButton from "../components/BackButton.vue";
	import HebCal from "hebcal";
	import ArticleComp from "../components/contentComponent.vue"
	import HebrewDate from "../components/Date";
	import moment from "moment";
	import Reminder from "src/view/components/ReminderComponent";

	export default {
		props: [],
		components: {
			Reminder,
			HebrewDate,
			BackButton,
			ArticleComp
		},
		data() {
			return {
				text: {
					article: "",
					text_title: "",
					source: ""
				},
				date: '',
				heb_date: new HebCal.HDate().toString('h'),
				ready: false,
				mainHeight: 500
			}
		},
		computed: {
			texts() {
				return this.$store.state.TextModule.texts;
			},
		},
		methods: {
			onTodayLearn() {
				let hebCal = new HebCal.HDate().toString('h');
				this.heb_date = hebCal.toString('h');
				this.date = new Date().toISOString().substr(0, 10);
				this.refreshArticle();
			},
			onNext() {
				this.date = moment(this.date).add('days', 1);
				this.heb_date = new HebCal.HDate(new Date(this.date)).toString('h');
				this.date = moment(this.date).format('YYYY-MM-DD');
				this.refreshArticle();
			},
			setHeight() {
				this.mainHeight = (screen.height - 65
					- document.getElementById("navbar").offsetHeight
					- document.getElementById("learn-header").offsetHeight
					- document.getElementById("learn-nav").offsetHeight);
			},
			onPrev() {
				this.date = moment(this.date).subtract('days', 1);
				this.heb_date = new HebCal.HDate(new Date(this.date)).toString('h');
				this.date = moment(this.date).format('YYYY-MM-DD');
				this.refreshArticle();
			},
			onMenu() {
				this.$router.push("/dash");
			},

			refreshArticle() {


				this.$store.dispatch(TextModule.types.ARTICLE, {
						date: this.date,
						gender: this.$store.state.AuthModule.user.gender
					}
				).then((response) => {


				});
			}
		},
		created() {
			this.date = new Date().toISOString().substr(0, 10);

			if (localStorage.gender != null)
				this.refreshArticle();
			else {
				this.$router.push("/dash")
			}
		},
		mounted() {
			this.ready = true;
			this.setHeight();
			window.setTimeout(() => {
				this.setHeight()
			}, 500)

		},
		updated() {
		},
		destroyed() {
		}
	}
</script>

<style scoped>

	#learn-nav {
		position: fixed;
		width: 100%;
		padding: 0;
		bottom: 0;
		right: 0;

	}

	.main #text {
		width: 100%;
		height: 50%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.main .row {
		text-align: center;
		padding-top: 15px;

	}

	.small-box {
		height: 6vh;
		font-size: large;
		background-color: whitesmoke;
	}

	p.date {
		text-align: center;
	}

	#learn-nav .glyphicon {
		color: #7A274C;
	}

	.main {
		overflow-x: hidden;
		overflow-y: scroll;

	}

	.box {
		height: 60px;
	}


</style>