<template>
	<div class="row">
		<div class="col-xs-12 col-lg-6 middle">

			<div class="box">
				<h1 id="header-title">הגדרות
					<img id="" src="./../../static/images/icon-3.png" class="img_title icon img-responsive "></h1>
			</div>

			<div id="sections-wrapper">
				<div id="section-1" class="section ">
					<div class="main" :style="mainStyle">

						<h3>התראות</h3>
						<input type="radio" value="2" id="notifyAll" v-model="notification" @change="onNotification"/>
						<label for="notifyAll">מעוניין בכל ההתראות</label>
						<br/>
						<input type="radio" value="1" id="notifyDaily" v-model="notification" @change="onNotification"/>
						<label for="notifyDaily">מעוניין בתזכורת יומית</label>
						<br/>
						<input type="radio" value="0" id="doNotNotify" v-model="notification" @change="onNotification"/>
						<label for="doNotNotify">לא מעוניין בהתראות</label>
						<br/>
						<!--<button @click="onNotification">עדכן</button>-->
						<div v-show="notification>0">
							<h3>שעת תזכורת</h3>
							<input type="time" v-model="hour_reminder" @input="onNotification">
						</div>


						<h3>מסלול</h3>
						<img src="./../../static/images/man.png" class="icon img-responsive small-img">
						<input type="radio" value="1" id="male" v-model="gender" @change="onGender"/>
						<label for="notifyDaily">לכו לחמו בלחמי</label>
						<br/>
						<img src="./../../static/images/woman.png" class="icon img-responsive small-img">
						<input type="radio" value="0" id="female" v-model="gender" @change="onGender"/>
						<label for="notifyAll">בדרכיו כל הימים</label>
						<br/>
						<!--<button @click="onGender">עדכן</button>-->


						<back-button/>

					</div>
				</div>
			</div>

		</div>
	</div>
</template>

<script>
	import BackButton from "../components/BackButton.vue";
	import AuthModule from "../../store/modules/Auth.module";

	export default {
		props: [],
		components: {
			BackButton,
		},
		data() {
			return {
				notification: this.$store.state.AuthModule.user.notification,
				hour_reminder: this.$store.state.AuthModule.user.hour_reminder,
				gender: this.$store.state.AuthModule.user.gender,
			}
		},
		computed: {
			mainStyle() {
				return 'height:' + (screen.height - 65
					- document.getElementById("navbar").offsetHeight
					- document.getElementById("header-title").offsetHeight) + 'px';
			},
		},
		methods: {
			test() {
				console.log(this.notification)
			},
			onNotification() {
				this.$store.dispatch(AuthModule.types.NOTIFICATION, {
					id: localStorage.OS_id,
					notification: this.notification,
					hour_reminder: this.hour_reminder
				}).then(
					() => {
//                        navigator.notification.alert("ההגדרות החדשות נקלטו בהצלחה במערכת", this.voidFunction, "שינוי מסלול", "סיום");
					},
					() => {
//                        navigator.notification.alert("עקב שגיאה ההגדרות החדשות לא נקלטו במערכת", this.voidFunction, "שינוי מסלול", "סיום");
					}
				);
			},
			onGender() {
				this.$store.dispatch(AuthModule.types.LOGIN, {id: localStorage.OS_id, gender: this.gender}).then(
					() => {
//                        navigator.notification.alert("ההגדרות החדשות נקלטו בהצלחה במערכת", this.voidFunction, "שינוי מסלול", "סיום");
					},
					() => {
//                        navigator.notification.alert("עקב שגיאה ההגדרות החדשות לא נקלטו במערכת", this.voidFunction, "שינוי מסלול", "סיום");
					}
				);
				localStorage.gender = this.gender;
			},
			voidFunction() {
			},
		},
		created() {
			if (this.$store.state.AuthModule.user.notification !== null)
				this.notification = this.$store.state.AuthModule.user.notification;
			else this.notification = 2;
			this.gender = localStorage.gender;
			this.hour_reminder = this.$store.state.AuthModule.user.hour_reminder || '09:00';
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	}
</script>

<style scoped>

	.small-img {
		height: 20px;
		display: inline-block;
	}

	.box {
		height: 60px;
	}

	body {
		overflow: hidden;
	}

</style>