<template>
	<div class="row">
		<div class="col-xs-12 col-lg-6 middle">
			<div class="box">
				<h1 id="header-title">זמני היום
					<img id="" src="./../../static/images/icon-2.png" class="img_title icon img-responsive ">
				</h1>
			</div>
			<div id="sections-wrapper">
				<div id="section-1" class="section ">
					<div class="main" :style="mainStyle">
						<div class="row content" :style="contentStyle">
							<reminder/>
							<br/>
							<iframe name="timeIframe" src="https://www.twb.co.il/daytimes?loc="
							        @load="doSomthing(this)" width="100%"
							        :height="timesViewHeight" style="border: 0"></iframe>

							<!--<h1 v-if="times.holiday" v-html="times.holiday"></h1>-->
							<!--<label class="heb_date"> {{times.heb_date}}</label>-->
							<!--<div class="alot_hashahar">-->
							<!--<label> עלות השחר: </label>-->
							<!--<span class="time"> {{times.alot_hashahar}}</span>-->
							<!--</div>-->
							<!--<div class="talit_tfilin">-->
							<!--<label> זמן טלית ותפילין:</label>-->
							<!--<span class="time"> {{times.talit_tfilin}}</span>-->
							<!--</div>-->
							<!--<div class="netz">-->
							<!--<label>נץ: </label>-->
							<!--<span class="time"> {{times.netz}}</span>-->
							<!--</div>-->
							<!--<div class="end_time_shma">-->
							<!--<label>סוף זמן קריאת שמע: </label>-->
							<!--<span class="time"> {{times.end_time_shma}}</span>-->
							<!--</div>-->
							<!--<div class="end_time_tfila_gra">-->
							<!--<label>סוף זמן תפילה- גרא: </label>-->
							<!--<span class="time"> {{times.end_time_tfila_gra}}</span>-->

							<!--</div>-->
							<!--<div class="minha_gdola">-->
							<!--<label> מנחה גדולה: </label>-->
							<!--<span class="time"> {{times.minha_gdola}}</span>-->
							<!--</div>-->
							<!--<div class="shkia">-->
							<!--<label> שקיעה:</label>-->
							<!--<span class="time"> {{times.shkia}}</span>-->

							<!--</div>-->
							<!--<br><br>-->
							<!--&lt;!&ndash;  if shabat or holiday&ndash;&gt;-->
							<!--<div v-if="times.shabbat_label">-->
							<!--<label class="parasha" v-if="times.parasha"> שבת פרשת {{times.parasha}}</label><br>-->
							<!--<label class="shabat_label">{{times.shabbat_label}} </label>-->
							<!--<h4 class="shabat"> {{times.jerusalem}}</h4>-->
							<!--<h4 class="shabat"> {{times.haifa}} </h4>-->
							<!--<h4 class="shabat">{{times.tel_aviv}}</h4>-->
							<!--</div>-->
						</div>
						<div class="row back-button">
							<back-button/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import BackButton from "../components/BackButton.vue";
	import HebDate from "../components/Date.vue"
	import TimeModule from "../../store/modules/Content.module"
	import Reminder from "src/view/components/ReminderComponent";

	export default {
		props: [],
		components: {
			Reminder,
			BackButton,
			HebDate,
		},
		data() {
			return {
				times: {
					heb_date: "",
					parasha: "",
					holiday: "",
					reminder: '',

				},
				date: "",
			}
		},
		computed: {
			mainStyle() {
				return 'height:' + (screen.height - 65
					- document.getElementById("navbar").offsetHeight
					- document.getElementById("header-title").offsetHeight) + 'px';
			},
			contentStyle() {
				return 'height:' + (screen.height - 140
					- document.getElementById("navbar").offsetHeight
					- document.getElementById("header-title").offsetHeight) + 'px';
			},
			timesViewHeight() {
				return (screen.height - 180
					- document.getElementById("navbar").offsetHeight
					- document.getElementById("header-title").offsetHeight - 200) + 'px';
			}
		},
		methods: {
			doSomthing(obj) {
				console.log(document.timeIframe);
				// alert(obj.contentWindow.location.pathname);
			}


		},
		created() {
			this.date = new Date().toISOString().substr(0, 10);
			this.$store.dispatch(TimeModule.types.TIMES, {
				date: this.date,
				gender: this.$store.state.AuthModule.user.gender
			}).then((response) => {
				this.times = Object.assign(this.times, response);

			});


		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}


	}
</script>

<style scoped>
	.box {
		height: 60px;
	}

	.content {
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.back-button {
		height: 50px;
	}

	.main {
		padding: 0 !important;
		text-align: center;

	}

	h1 {
		text-align: center;
	}

	.heb_date {

		font-size: x-large;
		margin-bottom: 20px;
		color: purple;

	}

	.time {
		color: purple;
		font-size: medium;

	}

	label {
		font-size: medium;
	}

	.shabat {
		color: black;
		font-weight: 100;
	}

	.shabat_label {
		font-size: large;
		margin-top: 20px;
		margin-bottom: 10px;
		color: purple;

	}

	.main iframe {
		height: 100%;
		width: 100%;

	}

	body {
		overflow: scroll;
	}

</style>