body {
    background-image: url("../static/images/bac.png");
    /*background-color: yellowgreen;*/
    background-size: cover;
    color: #111;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    font-family: 'arial';
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/*,תפריט*/

.navbar {
    margin-bottom: 0px;
}

.navbar-inverse {
    background-color: rgba(255, 255, 255, 0.3);
    /*background-color: transparent;*/
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: #111;
}

#wrapper {
    padding-right: 20px;
    padding-left: 20px;
}

.box {
    background-color: rgba(255, 255, 255, 0.72);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    box-shadow: -7px -5px 20px rgba(17, 17, 17, 0.74);
    padding: 11px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
    height: 10vh;
    text-align: center;
}

.box h1 {
    font-size: 1.7em;
    margin-top: 0;
}

.box h3 {
    font-size: 1.1em;
}

.box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
}

.box .img_title {
    display: inline-block;
    width: 2.2em;
}

.box .img_title_big {
    width: 9em;
}

.main {
    padding: 35px;
    height: 521px;
    background: rgba(255, 255, 255, 0.90);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 10px;
}

.arrow {
    font-size: 23px;
    position: absolute;
    left: 40%;
    bottom: 20px;
}

.arrow img {
    display: inline-block;
    height: 30px;
}