<template>
    <div @click="onHome" class="arrow ">
        <br>חזור
        <img src="./../../static/images/arrow.png" class=" icon img-responsive ">
    </div>
</template>

<script>
    export default {
        props: [],
        components: {},
        data() {
            return {}
        },
        computed: {},
        methods: {
            onHome() {
                this.$router.push("/dash");
            },
        },
        created() {
        },
        mounted() {
        },
        updated() {
        },
        destroyed() {
        }
    }
</script>

<style scoped>
    .arrow {
        font-size: 23px;
        position: fixed;
        left: 40%;
        padding-top: 20px;
        margin-top: 10px;

    }

</style>