<template>
    <div class="component">
        <div id="title"><h4>{{text.text_title}}</h4></div>
        <div id="text"><p v-html="text.article"></p></div>
        <div id="source"><p>{{text.source}}</p></div>
        <br>
    </div>
</template>

<script>
    export default {
        props: ["text"],
        name: "article-comp",
        components: {},
        data() {
            return {}
        },
        computed: {
            now_text() {
                return this.text;
            }

        },
        watch: {
            now_text() {
                this.convertBr();

            }
        },
        methods: {
            convertBr() {
                var temp = this.text.article;
                temp = temp.toString();
                var index = temp.indexOf('_x000d_');
                while (index != -1) {
                    this.text.article = temp.substr(0, index - 1);
                    temp = temp.replace('_x000d_', '<br>');
                    index = temp.indexOf('_x000d_');
                    //  if(temp.substr(index, index+7)=='_x000d_')

                }
                this.text.article = temp;

                var temp = this.text.text_title;
                temp = temp.toString();
                var index = temp.indexOf('_x000d_');
                while (index != -1) {
                    this.text.text_title = temp.substr(0, index - 1);
                    temp = temp.replace('_x000d_', '');
                    index = temp.indexOf('_x000d_');
                    //  if(temp.substr(index, index+7)=='_x000d_')

                }
                this.text.text_title = temp;

            },
        },
        created() {
            this.convertBr();
        },
        mounted() {
        },
        updated() {
        },
        destroyed() {
        }
    }
</script>

<style>
    #title {
        text-align: center;
        color: purple;
    }

    #source {
        text-align: left;
        font-weight: bold;

    }
</style>