<template>
	<div> יום {{today}} ,{{currentDate}}</div>
</template>

<script>
	import HebCal from "hebcal";
	import moment from "moment";

	export default {
		props: ['gregDate', 'hebDate'],
		name: "hebrew-date",
		components: {},
		data() {
			return {
				dayInWeek: null,
			}
		},
		computed: {
			currentDate() {
				if (this.hebDate) {
					return this.hebDate.replace("הת", "ה'ת")
				} else {
					return new HebCal.HDate().toString('h').replace("הת", "ה'ת");
				}
			},

			today() {
				this.dayInWeek = (moment(this.gregDate).weekday() + 1) % 7;
				if (this.dayInWeek === 0)
					return "שבת";
				if (this.dayInWeek === 1)
					return "ראשון";
				if (this.dayInWeek === 2)
					return "שני";
				if (this.dayInWeek === 3)
					return "שלישי";
				if (this.dayInWeek === 4)
					return "רביעי";
				if (this.dayInWeek === 5)
					return "חמישי";
				if (this.dayInWeek === 6)
					return "שישי";

			}
		},
		methods: {},
		created() {
			// let heb_date= new HebCal.HDate().toString('h'),

			// this.dayInWeek = (new HebCal.HDate(this.date).getDay() + 1) % 7;
			// alert(this.dayInWeek);

		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	}
</script>

<style>

</style>