<template>

	<div class="reminder" v-if="times.reminder">
		<h4> {{times.reminder}}</h4>
	</div>

</template>

<script>

	import TimeModule from "../../store/modules/Content.module"

	export default {
		name: "reminder",
		props: [],
		components: {},
		data() {
			return {

				times: {
					reminder: '',

				},
			}
		},
		computed: {},
		watch:
			{
				date() {
					this.$store.dispatch(TimeModule.types.TIMES, {
						date: this.date,
						gender: this.$store.state.AuthModule.user.gender
					}).then((response) => {

						this.times.reminder = response.reminder;
						this.convertBr();

					});
				}
			},
		methods: {
			convertBr() {
				var temp = this.times.reminder;
				temp = temp.toString();
				var index = temp.indexOf('_x000d_');
				while (index != -1) {
					this.times.reminder = temp.substr(0, index - 1);
					temp = temp.replace('_x000d_', '\n');
					index = temp.indexOf('_x000d_');
				}
				this.times.reminder = temp;
			},
		},
		created() {
			this.date = new Date().toISOString().substr(0, 10);
			this.$store.dispatch(TimeModule.types.TIMES, {
				date: this.date,
				gender: this.$store.state.AuthModule.user.gender
			}).then((response) => {
				this.times.reminder = response.reminder;
				this.convertBr();

			});
		},
		mounted() {
		},
		updated() {

		},
		destroyed() {
		}
	}
</script>

<style>
	.reminder {
		background-color: purple;
		color: whitesmoke;
		margin: 15px;
		text-align: center;
		padding: 15px;
		border-radius: 15px;
		font-family: Arial;

	}

</style>