<template>
    <div id="app">
        <nav-bar></nav-bar>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        props: [],
        components: {
            "nav-bar": require("./Navbar.vue")


        },
        data() {
            return {}
        },
        computed: {
            isConnected: function () {
                return this.$store.getters.isConnected;
            },
        },
        methods: {
        },
        created() {
        },
        mounted() {
        },
        updated() {
        },
        destroyed() {
        }
    }
</script>

<style>

</style>