<template>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header" id="navbar">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"
                        @focusout="closeNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a is="router-link" class="navbar-brand" to="/dash">
                    <img v-show="isMale" src="./static/images/logo_meemek.png" class="img_title icon img-responsive logo ">
                    <img v-show="isFemale" src="./static/images/shirat_hevron_logo.png" class="img_title icon img-responsive logo ">
                    <img v-show="noGender" src="./static/images/icon-4.png" class="img_title icon img-responsive logo ">
                    <span>{{title}}</span>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li is="router-link" tag="li" role="presentation" active-class="active" to="/times">
                        <a>זמני היום</a>
                    </li>
                    <li is="router-link" tag="li" role="presentation" active-class="active" to="/learn">
                        <a>הלימוד היומי</a>
                    </li>
                    <li is="router-link" tag="li" role="presentation" active-class="active" to="/AskTheRabbi">
                        <a>שאל את הרב</a>
                    </li>
                    <li is="router-link" tag="li" role="presentation" active-class="active" to="/settings">
                        <a>הגדרות</a>
                    </li>
                    <li is="router-link" tag="li" role="presentation" active-class="active" to="/about">
                        <a>אודות</a>
                    </li>
                    <li is="router-link" tag="li" role="presentation" active-class="active" to="/contact">
                        <a>צור קשר</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</template>

<script>
    export default {
        props: [],
        components: {},
        data() {
            return {}
        },
        computed: {
            title() {
	            switch (Number(this.$store.state.AuthModule.user.gender)) {
                    case 1:
                        return "לכו לחמו בלחמי";
                    case 0:
                        return "בדרכיו כל הימים";
                    default:
                        return "בחר מסלול";
                }
            },
	        gender() {
		        return Number(this.$store.state.AuthModule.user.gender)
	        },
	        isMale() {
		        return this.gender === 1;
	        },
	        isFemale() {
		        return this.gender === 0;
	        },
	        noGender() {
		        return !this.isMale && !this.isFemale;
	        },
            src() {
	            switch (this.gender) {
                    case 1:
                        return "static/images/logo_meemek.png";
                    case 0:
                        return "static/images/shirat_hevron_logo.png";
                    default:
                        return "static/images/icon-4.png";
                }
            }
        },
        methods: {
            closeNavbar() {
                setTimeout(() => {
                    document.getElementById("myNavbar").classList.remove('in');
                }, 100);
            },
        },
        created() {
        },
        mounted() {
        },
        updated() {
        },
        destroyed() {
        }
    }
</script>

<style scoped="true">

    .img_title {
        height: 40px;
        padding-top: 3px;
        padding-bottom: 3px;
        display: inline-block;
    }

    .sidebar ul li.active {
        background-color: #eee;
    }

    .logo {
        padding-left: 10px;
        padding-right: 5px;
    }

    .navbar-brand {
        padding-top: 10px;
        /*padding-bottom: 10px;*/
    }
</style>